div.hidden

aside.left_side
	div.btn_mnu(title="Menu")
		div.btn_row
		div.btn_row
		div.btn_row
	div.aside_content
		.user_info
			img(src="images/photo.jpg" alt="Александр Величко")
			h2 Александр Величко
			p Фотограф, Дизайнер, Иллюcтратор
		nav
			ul
				li
					a(href="#") Портфолио
				li
					a(href="#") Обо мне
				li
					a(href="#") Контакты
